################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/user-hub/config/applicationhost.config
/.vs/user-hub/DesignTimeBuild/.dtbcache.v2
/.vs/user-hub/FileContentIndex/4101cdbe-46ee-4e44-a4cb-3c9685384cb4.vsidx
/.vs/user-hub/FileContentIndex/b5d6bac0-423b-42f9-86a7-cc30cc046240.vsidx
/.vs/user-hub/FileContentIndex/e4e0e081-7d59-45e2-9239-a26abc196c2c.vsidx
/.vs/user-hub/FileContentIndex/f6632783-e95f-49e9-8eed-193f6b15636a.vsidx
/.vs/user-hub/FileContentIndex/f7fccc63-c3ab-4ee3-8f65-78897e8dbcd9.vsidx
/.vs/user-hub/v17/.suo
/.vs/user-hub/v17/.wsuo
/.vs/VSWorkspaceState.json
